<div class="user-login-div" ng-controller="loginCtrl as Login">
	<div class="login-box">
		<span class="title">{{'user.login' | translate}}</span>
        <div class="slash-line"></div>
		<span class="title">{{'user.pickOne' | translate}}</span>
		<div class="brands">
		    <a href="/users/auth/facebook">
		    	<i class="fa fa-facebook facebook brand-icon" aria-hidden="true"></i>
		    </a>
		    <i class="fa fa-google google brand-icon" aria-hidden="true"></i>
		</div>
		<span class="test-login" ng-click="Login.testLogin()">
			{{'user.login.test' | translate}}
		</span>
	</div>
</div>