<div class="topics-div" ng-controller="topicsCtrl as Topics">
    <div class="contents-box">
    	<div class="content" ng-repeat="data in Topics.datas">
            <div class="text-block" ng-class="Topics.title">
                <span class="text left" ng-class="">How do you turn this on ?</span><span class="lang left">Chinese</span>
            </div>
            <div class="text-block" ng-class="Topics.title">
                <span class="text right" ng-class="">眼鏡蛇車</span><span class="lang right">Chinese</span>
            </div>
            <div class="text-block" ng-class="Topics.title">
                <span class="text right" ng-class="">你要怎麼把它打開？</span>
            </div>
    	</div>
    </div>
</div>