.view-a {
	margin-top: 50px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #E2F3FF;
}

* {
    box-sizing: border-box;
}