.navbar-div {
	width: 100%;
	height: 70px;
	background-color: #AEDCB8;
	position: fixed;
	top: 0px;
	left: 0px;

	.web-logo {
	    width: 60px;
	    height: 60px;
	    background-color: rgb(255, 168, 169);
	    border-radius: 60px;
	    margin:　5px 5px 5px 30px;
	}
}