navbar {
	width: 100%;
}

.navbar-div {
    list-style-type: none;
    margin: 0;
    padding: 0px 10%;
    overflow: hidden;
    height: 55px;
    z-index: 2;

    background-color: #7EC4FF;
    background-image: -webkit-linear-gradient(#7EC4FF, #4A9CF1);
    background-image: linear-gradient(#7EC4FF,#4A9CF1);

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

	.web-logo {
	    width: 40px;
	    height: 40px;
  
        background-color: #EFF7FF;
        background-image: -webkit-linear-gradient(#EFF7FF, #71B6FF);
        background-image: linear-gradient(#EFF7FF,#71B6FF);

	    border-radius: 40px;
	    margin-top: 5px;
        cursor: pointer;
	}
    li {
        float: left;
        a {
            display: block;
            color: white;
            text-align: center;
            text-decoration: none;
            line-height: 45px;
            cursor: pointer;
            color: black;
            padding: 5px 5px;
        }
    }

    .collapse-btn {
        display: none;
        float: right;
        width: 10%;
    }

    

    .right {
        float: right;
        width: 10%;
    }
    
    li a:hover:not(.active) {
        opacity: 0.5;
    }


}

.collapse-navbar {
    z-index: 2;
    display: none;
}

@media screen and (max-width: 650px) {

.navbar-div {
    .collapse-btn {
        width: 35px;
        height: 35px;;
	    margin-top: 10px;
        display: block;
        border: 1px solid black;
        border-radius: 5px;
        cursor: pointer;

        a {
            div{
                width: 80%;
                margin: 4px auto 0px auto;
                border-top: 3px solid black;
                height: 3px;
            }
        }
    }
    .right {
        display: none;
    }

}
.collapse-navbar {
    display: block;
    width: 100%;
    position: fixed;
    top: 55px;
    left: 0px;

    div {
        display: block;
        width: 100%;
        background-color: #4D9EF2;

        a {
            display: block;
            text-decoration: none;
            color: black;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
        }
        a:hover {
            background-color: #EFF7FF;
        }
    }
}

}