.topics-div {
    display:block;
    margin:0px auto 0px auto;
    padding-top: 10px;
    width: 80%;


    .function-zone {
        display:block;
        width:80%;
        margin: 0px auto 0px auto;
        padding: 0px 0px 0px 0px;

        .button{
            font-size: 1.5em;
            display: block;
            width: 100px;
            margin: 0px auto 10px auto;

            color: #fff;
            background-color: #FF9292;
            background-image: -webkit-linear-gradient(#FF9292, #D84040);
            background-image: linear-gradient(#FF9292,#D84040);

            border-color: #4a993e;
            border-radius: 10px;
            padding: 5px;
            text-align: center;
            cursor: pointer;
        }

        .login-to-ask {
            font-size: 1.5em;
            display: block;
            width: 150px;
            margin: 0px auto 10px auto;            
            border: 1px solid #FF9292;
            border-radius: 10px;
            padding: 5px;
            text-align: center;
        }
    }

    .ask-form {
        width: 80%;
    }

    .reply-form {
        width: 100%;
    }

    .form {
        margin: 0px auto;
        background-color: white;
        border-radius: 10px;
        padding:10px;

        .form-title {
            display: block;
            font-size: 1.2em;
            text-align: center;
        }
        
        .input-box {
            margin: 10px 0px;
            border-top: 1px solid #CCCCCC;
            border-bottom: 1px solid #CCCCCC;
            padding:10px 0px;

            .input-div {
                padding: 5px 0px;
                width: 100%;
                margin: 0px auto;
    
                .input-label {
                    font-size: 1.2em;
                    display: inline-block;
                    width: 18%;
                }
                .input {
                    font-size: 1em;
                    display: inline-block;
                    width: 72%;
                    border-radius: 5px;
                    padding: 5px;
                }
                .select {
                    font-size: 1em;
                    width: 90px;
                    padding: 5px;
                    line-height: 1.5;
                    border-style: inset;
                    border-radius: 5px;
                    height: 34px;         
                }
            }
        }

        .submit-button {
            font-size: 1em;
            display: block;
            width: 70px;
            margin: 0px auto 0px auto;
    
            color: #fff;
            background-color: #FF9292;
            background-image: -webkit-linear-gradient(#FF9292, #D84040);
            background-image: linear-gradient(#FF9292,#D84040);
    
            border-color: #4a993e;
            border-radius: 10px;
            padding: 5px;
            text-align: center;
            cursor: pointer;
        }

    }

    .contents-box {
        display: block;
        width: 80%;
        margin: 0px auto 0px auto;
        padding: 0px 0px 10px 0px;

        .content {
            display: block;
            margin: 20px 0px 0px 0px;
        	background-color: white;
        	height: 200px;
        	border-radius: 10px;
        	padding: 0px 10px 10px 10px;
            overflow-y: scroll;

            .text-block {
                display:block;
                width: 100%;
                
                .box-left {
                    float: left;
                    clear: both;
                }
                .box-right {
                    float: right;
                    clear: both;
                }

                .info-box {
                    display: inline-block;
                    padding: 15px 0px 0px 0px;

                    .user-info {
                        font-size: 14px;
                        background-color: #FB8B8B;
                        padding: 8px;
                        display: inline-block;   
                        border-radius: 30px;         
                    }
                    .lang {
                        background-color: #D8D8D8;
                        padding: 5px;
                        border-radius: 10px;
                        display: inline-block;
                    }
                }

                .text-box {
                    display: block;
                    width: 100%;

                    .text {
                        padding: 5px;
                        border: 1px solid #DDDDDD;
                        border-radius: 10px;
                        display: inline-block;          
                        word-wrap: break-word;
                        max-width: 100%;
                    }
                    .question {
                        background-color: #EEEEEE;
                    }
                    .answer {
                        background-color: #92C9FF;
                    }
                    .left {
                        float: left;
                        clear: both;
                    }
                    .right {
                        float: right;
                        clear: both;
                    }
                }
            }
        }

        .content-function-bar {
            background-color: #92C9FF;
            background-image: -webkit-linear-gradient(#92C9FF, #5CABFF);
            background-image: linear-gradient(#92C9FF,#5CABFF);
            border: 1px solid #e9ebee;
            border-radius: 10px;
            margin: 0px auto;
            display: block;
            overflow: auto;

            .content-function-icons {
                display: block;

                .content-function-icon {
                    display: inline-block;
                    font-size: 24px;
                    padding:10px;
                    color: white;
                }
                .content-function-icon:hover {
                    display: inline-block;
                    cursor: pointer;
                    color: red;
                }
                .content-funtion-reply {
                    font-size: 1em;
                    display: inline-block;
                    margin: 5px 10px 5px 0px;
                    width: 70px;
                    float: right;
            
                    color: #fff;
                    background-color: #FF9494;
                    background-image: -webkit-linear-gradient(#FF9494, #FF4444);
                    background-image: linear-gradient(#FF9494,#FF4444);
            
                    border-color: #4a993e;
                    border-radius: 10px;
                    padding: 5px;
                    text-align: center;
                    cursor: pointer;
                }
                .login-to-reply{
                    font-size: 1em;
                    display: inline-block;
                    margin: 5px 10px 5px 0px;
                    width: 150px;  
                    float: right;         
                    border: 1px solid #8add6d;
                    border-radius: 10px;
                    padding: 5px;
                    text-align: center;            
                }
            }

        }
	}
}

@media screen and (max-width: 650px) {
    .topics-div {
        width: 90%;

        .contents-box {
            width: 100%;
        }

        .ask-form {
            width: 100%;
        }
    
        .reply-form {
            width: 100%;
        }

        .form {
            .input-box {
                .input-div {
                    .input-label {
                        font-size: 1.2em;
                        display: block;
                        width: 100%;
                        text-align: center;
                    }
                    .input {
                        font-size: 1em;
                        display: block;
                        width: 100%;
                        border-radius: 5px;
                        padding: 5px;
                    }
                    .select {
                        font-size: 1em;
                        width: 90px;
                        padding: 5px;
                        display: block;
                        margin: 0px auto;
                        line-height: 1.5;
                        border-style: inset;
                        border-radius: 5px;
                        height: 34px;         
                    }
                }
            }
        }
        .contents-box {
            .content-function-bar {
                .content-function-icons {
                    .login-to-reply{   
                        display: block;
                        float: none;
                        width: 250px;
                        margin: 0px auto; 
                        text-align: center;  
                    }
                }
            }
        }
    }
}