.topics-div {
    display:block;
    margin:0px auto 0px auto;
    padding-top: 10px;
    width: 80%;

    .function-zone {
        display:block;
        width:80%;
        margin: 0px auto 0px auto;
        padding: 0px 0px 0px 0px;

        .ask-button{
            font-size: 2em;
            display: block;
            width: 150px;
            margin: 0px auto 0px auto;

            color: #fff;
            background-color: #FF9292;
            background-image: -webkit-linear-gradient(#FF9292, #D84040);
            background-image: linear-gradient(#FF9292,#D84040);

            border-color: #4a993e;
            border-radius: 10px;
            padding: 5px;
            text-align: center;
            cursor: pointer;
        }
    }

    .contents-box {
        display: block;
        width: 80%;
        margin: 0px auto 0px auto;
        padding: 0px 0px 10px 0px;

        .content {
            display: block;
            margin: 20px 0px 0px 0px;
        	background-color: white;     
        	height: 200px;
        	border-radius: 10px;
        	padding: 10px;
            overflow: scroll;

            .text-block {
                display:block;
                padding: 5px;
                height:50px;

                .text {
                    background-color: #AEDCB8;
                    padding: 5px;
                 	border-radius: 10px;
                    display: inline-block;
                }
                .lang {
                    background-color: #D8D8D8;
                    padding: 5px;
                 	border-radius: 10px;
                    display: inline-block;
                }
                .left {
                    float: left;
                }
                .right {
                    float: right;
                }
        	}
        }

        .content-function-bar {
            background-color: white;
            border: 1px solid #e9ebee;
            border-radius: 10px;
            margin: 0px auto;
            display: block;
            .content-function-icon {
                font-size: 24px;
                padding:10px;
                color: #CCCCCC;
            }
            .content-function-icon:hover {
                cursor: pointer;
                color: orange;
            }
        }
	}
}